body {
  background-color: whitesmoke;
}

h1 {
  color: purple;
  margin-left: 450px;

}
p {
  color: lightpink;
  margin-left: 530px;
}
body {
background: white url("girl.jpg") no-repeat fixed center; 
}
.header {
  background-color: lightblue;
  padding: 1000px;
  text-align: center;
}
}