/* Home */

position: absolute;
width: 1440px;
height: 4771px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Vector 1 */

position: absolute;
width: 1458px;
height: 1182.46px;
left: -12px;
top: 3593.54px;



/* Purple Light */
background: #F6EAFF;


/* Group */

position: absolute;
left: 11.11%;
right: 77.92%;
top: 88.79%;
bottom: 8.59%;



/* Vector */

position: absolute;
left: 17.38%;
right: 77.92%;
top: 88.79%;
bottom: 8.59%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 11.11%;
right: 84.19%;
top: 88.79%;
bottom: 8.59%;

background: #FFFFFF;


/* Ellipse 84 */

box-sizing: border-box;

position: absolute;
width: 574px;
height: 583px;
left: -158px;
top: 1677px;

border: 106px solid rgba(246, 234, 255, 0.6);


/* Ellipse 87 */

box-sizing: border-box;

position: absolute;
width: 345px;
height: 345px;
left: 1154px;
top: 2650px;

border: 80px solid rgba(246, 234, 255, 0.6);


/* Doodle Dots */

position: absolute;
width: 347px;
height: 353.62px;
left: 1159px;
top: 1364px;



/* Group 4 */

position: absolute;
width: 347px;
height: 353.62px;
left: 1159px;
top: 1364px;



/* Ellipse 9 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 18 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 27 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 36 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 45 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 54 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 63 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 72 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1159px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 10 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 19 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 28 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 37 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 46 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 55 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 64 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 73 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1200.52px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 11 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 20 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 29 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 38 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 47 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 56 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 65 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 74 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1242.04px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 12 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 21 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 30 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 39 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 48 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 57 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 66 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 75 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1283.56px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 13 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 22 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 31 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 40 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 49 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 58 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 67 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 76 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1325.09px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 14 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 23 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 32 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 41 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 50 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 59 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 68 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 77 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1366.61px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 15 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 24 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 33 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 42 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 51 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 60 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 69 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 78 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1408.13px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 16 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 25 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 34 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 43 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 52 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 61 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 70 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 79 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1449.65px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 17 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1364px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 26 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1412.29px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 35 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1460.58px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 44 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1508.87px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 53 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1557.16px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 62 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1605.46px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 71 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1653.75px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 80 */

position: absolute;
width: 14.83px;
height: 15.58px;
left: 1491.17px;
top: 1702.04px;

/* Purple Light */
background: #F6EAFF;


/* Rectangle 23 */

position: absolute;
width: 318px;
height: 393px;
left: 564px;
top: 1202px;

background: #FFFFFF;
box-shadow: 0px 10px 70px -26px rgba(0, 0, 0, 0.25);
border-radius: 30px;


/* Rectangle 25 */

position: absolute;
width: 318px;
height: 393px;
left: 946px;
top: 1202px;

background: #FFFFFF;
box-shadow: 0px 10px 70px -26px rgba(0, 0, 0, 0.25);
border-radius: 30px;


/* Rectangle 24 */

position: absolute;
width: 318px;
height: 393px;
left: 181px;
top: 1202px;

background: #FFFFFF;
box-shadow: 0px 10px 70px -26px rgba(0, 0, 0, 0.25);
border-radius: 30px;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Logo */

position: absolute;
visibility: hidden;
width: 81px;
height: 34px;
left: 158px;
top: 33px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

/* Gray 1 */
color: #333333;



/* About */

position: absolute;
width: 61px;
height: 23px;
left: 778px;
top: 37px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

/* Gray 2 */
color: #4F4F4F;



/* Projects */

position: absolute;
width: 75px;
height: 23px;
left: 679px;
top: 37px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

/* Gray 2 */
color: #4F4F4F;



/* Home */

position: absolute;
width: 58px;
height: 23px;
left: 600px;
top: 37px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

/* box dark purp */
color: #5F49BF;



/* Line 1 */

position: absolute;
width: 29px;
height: 0px;
left: 613px;
top: 68px;

/* box dark purp */
background: #5F49BF;
/* box dark purp */
border: 3px solid #5F49BF;


/* Rectangle 2 */

position: absolute;
width: 480px;
height: 615px;
left: 824px;
top: 154px;



/* Rectangle 18 */

position: absolute;
visibility: hidden;
width: 330px;
height: 9px;
left: 160px;
top: 365px;

/* box orange */
background: #F4AB47;


/* Introduction Hello, I’m Amelia. I’m a UI/UX Designer. I enjoy creating user-centric, delightful, and human experiences with touch of visual and digital. I am Looking forward to collaborate with you! */

position: absolute;
width: 594px;
height: 347px;
left: 160px;
top: 238px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 160.5%;
/* or 35px */

/* box dark purp */
color: #5F49BF;



/* Hire me */

position: absolute;
width: 180px;
height: 60px;
left: 160px;
top: 657px;



/* Rectangle 3 */

position: absolute;
width: 180px;
height: 60px;
left: 160px;
top: 657px;

background: #5F49BF;
border-radius: 40px;


/* Hire Me */

position: absolute;
width: 142px;
height: 27px;
left: 178px;
top: 673px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

/* Gray 6 */
color: #F2F2F2;



/* Specializing */

position: absolute;
width: 147px;
height: 35px;
left: 646px;
top: 900px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;

/* box dark purp */
color: #5F49BF;



/* What I Do */

position: absolute;
width: 239px;
height: 73px;
left: 601px;
top: 938px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 1 */
color: #333333;



/* Ellipse 12 */

position: absolute;
width: 180px;
height: 179px;
left: 250px;
top: 1090px;

/* Purple Light */
background: #F6EAFF;


/* Rectangle 5 */

position: absolute;
width: 288px;
height: 318px;
left: -364px;
top: 2576px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ellipse 13 */

position: absolute;
width: 180px;
height: 179px;
left: 630px;
top: 1087px;

/* Purple Light */
background: #F6EAFF;


/* Ellipse 14 */

position: absolute;
width: 181px;
height: 179px;
left: 1014px;
top: 1089px;

/* Purple Light */
background: #F6EAFF;


/* Showcase */

position: absolute;
width: 130px;
height: 35px;
left: 641px;
top: 1792px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* box dark purp */
color: #5F49BF;



/* My Latest Projects */

position: absolute;
width: 447px;
height: 73px;
left: 483px;
top: 1830px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 1 */
color: #333333;



/* Group 11 */

position: absolute;
width: 114px;
height: 37px;
left: 1166px;
top: 33px;



/* Rectangle 13 */

position: absolute;
width: 114px;
height: 37px;
left: 1166px;
top: 33px;

/* box dark purp */
background: #5F49BF;
border-radius: 40px;


/* Contact */

position: absolute;
width: 66px;
height: 24px;
left: 1190px;
top: 38px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Gray 6 */
color: #F2F2F2;



/* Doodle Dots */

position: absolute;
left: 50.42%;
right: 25.14%;
top: 10.22%;
bottom: 82.08%;



/* Ellipse 81 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(255, 255, 255, 0.5);


/* Group 4 */

position: absolute;
left: -0.51%;
right: -2.06%;
top: 0%;
bottom: 0.51%;



/* Ellipse 9 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 18 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 27 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 36 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 45 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 54 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 63 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 72 */

position: absolute;
left: -0.51%;
right: 96.12%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 10 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 19 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 28 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 37 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 46 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 55 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 64 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 73 */

position: absolute;
left: 11.77%;
right: 83.85%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 11 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 20 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 29 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 38 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 47 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 56 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 65 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 74 */

position: absolute;
left: 24.04%;
right: 71.58%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 12 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 21 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 30 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 39 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 48 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 57 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 66 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 75 */

position: absolute;
left: 36.31%;
right: 59.3%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 13 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 22 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 31 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 40 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 49 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 58 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 67 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 76 */

position: absolute;
left: 48.59%;
right: 47.03%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 14 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 23 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 32 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 41 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 50 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 59 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 68 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 77 */

position: absolute;
left: 60.86%;
right: 34.76%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 15 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 24 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 33 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 42 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 51 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 60 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 69 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 78 */

position: absolute;
left: 73.13%;
right: 22.49%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 16 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 25 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 34 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 43 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 52 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 61 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 70 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 79 */

position: absolute;
left: 85.4%;
right: 10.21%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Ellipse 17 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 0%;
bottom: 95.62%;

background: #E9CBFF;


/* Ellipse 26 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 13.59%;
bottom: 82.03%;

background: #E9CBFF;


/* Ellipse 35 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 27.17%;
bottom: 68.44%;

background: #E9CBFF;


/* Ellipse 44 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 40.76%;
bottom: 54.85%;

background: #E9CBFF;


/* Ellipse 53 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 54.35%;
bottom: 41.27%;

background: #E9CBFF;


/* Ellipse 62 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 67.94%;
bottom: 27.68%;

background: #E9CBFF;


/* Ellipse 71 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 81.52%;
bottom: 14.09%;

background: #E9CBFF;


/* Ellipse 80 */

position: absolute;
left: 97.68%;
right: -2.06%;
top: 95.11%;
bottom: 0.51%;

background: #E9CBFF;


/* Image main */

position: absolute;
width: 605px;
height: 626px;
left: 754px;
top: 143px;



/* Ellipse 11 */

position: absolute;
width: 440px;
height: 437px;
left: 836.5px;
top: 238.05px;



/* Ellipse 11 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Purple Light */
background: #F6EAFF;


/* Saly-22 */

position: absolute;
width: 605px;
height: 626px;
left: 754px;
top: 143px;



/* Ellipse 82 */

position: absolute;
left: 5.12%;
right: 66.12%;
top: 77.64%;
bottom: -5.75%;

background: #FFFFFF;
filter: blur(130px);


/* Saly-22 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(111.png);


/* Group 2 */

position: absolute;
width: 115px;
height: 47px;
left: 160px;
top: 19px;



/* Ellipse 10 */

position: absolute;
width: 30px;
height: 30px;
left: 160px;
top: 66px;

background: linear-gradient(180deg, #E9CBFF 26.04%, #5F49BF 100%);
transform: rotate(-90deg);


/* Porto. */

position: absolute;
width: 81px;
height: 34px;
left: 194px;
top: 19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

/* Gray 1 */
color: #333333;



/* Vectary texture */

position: absolute;
width: 407px;
height: 304px;
left: 508px;
top: 993px;

background: url(.png);


/* Vectary texture */

position: absolute;
width: 307px;
height: 287px;
left: 186px;
top: 1007px;

background: url(.png);
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));


/* Vectary texture */

position: absolute;
width: 328px;
height: 187px;
left: 941px;
top: 1052px;

background: url(.png), url(.png);
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));


/* UI Design */

position: absolute;
width: 244px;
height: 25px;
left: 218px;
top: 1285px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
text-align: center;

color: rgba(128, 114, 224, 0.8);



/* Content Writing */

position: absolute;
width: 244px;
height: 25px;
left: 601px;
top: 1285px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
text-align: center;

color: rgba(128, 114, 224, 0.8);



/* UX Design */

position: absolute;
width: 244px;
height: 25px;
left: 983px;
top: 1282px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
text-align: center;

color: rgba(128, 114, 224, 0.8);



/* Group 3 */

position: absolute;
width: 544px;
height: 622px;
left: 157px;
top: 1969px;



/* Rectangle 11 */

position: absolute;
width: 544px;
height: 622px;
left: 157px;
top: 1969px;

/* bold text */
background: #3766F4;
border-radius: 30px;


/* Rectangle 12 */

position: absolute;
width: 544px;
height: 622px;
left: 157px;
top: 1965px;

background: #3766F4;
border-radius: 30px;


/* UI/UX Course */

position: absolute;
width: 351px;
height: 92.46px;
left: 201px;
top: 1996.18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 6 */
color: #F2F2F2;



/* Group 5 */

position: absolute;
width: 815px;
height: 593.8px;
left: 107px;
top: 2132.81px;

filter: drop-shadow(0px 200px 250px rgba(0, 0, 0, 0.25));


/* My Class */

position: absolute;
width: 315.44px;
height: 203.76px;
left: 481.31px;
top: 2413.37px;

background: url(My Class.png);
border-radius: 30px;
transform: matrix(0.75, -0.38, 1.01, 0.81, 0, 0);


/* Sub Courses */

position: absolute;
width: 315.44px;
height: 203.76px;
left: 279.34px;
top: 2599.35px;

background: url(Sub Courses.png);
border-radius: 30px;
transform: matrix(0.75, -0.38, 1.01, 0.81, 0, 0);


/* Courses */

position: absolute;
width: 315.44px;
height: 203.76px;
left: 308.35px;
top: 2275.05px;

background: url(Courses.png);
border-radius: 30px;
transform: matrix(0.75, -0.38, 1.01, 0.81, 0, 0);


/* Dashboard */

position: absolute;
width: 315.44px;
height: 203.76px;
left: 107px;
top: 2461.52px;

background: url(Dashboard.png);
border-radius: 30px;
transform: matrix(0.75, -0.38, 1.01, 0.81, 0, 0);


/* Personal Project | Web Design */

position: absolute;
width: 350px;
height: 26.71px;
left: 203px;
top: 2063.98px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* Gray 6 */
color: #F2F2F2;



/* Personal Project | Web Design */

position: absolute;
width: 350px;
height: 26.71px;
left: 254px;
top: 2266.98px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* Gray 6 */
color: #F2F2F2;



/* Device - Macbook Pro */

position: absolute;
width: 483px;
height: 292.79px;
left: 188px;
top: 2165.68px;

filter: drop-shadow(8px 40px 250px #3766F4);


/* Shadow */

position: absolute;
width: 433.65px;
height: 4.95px;
left: 212.92px;
top: 2453.52px;

/* default/shade/black */
background: #000000;
filter: blur(44px);
border-radius: 30px;


/* Top */

position: absolute;
width: 391px;
height: 274.46px;
left: 234.96px;
top: 2165.68px;



/* Lid */

box-sizing: border-box;

position: absolute;
width: 391px;
height: 274.46px;
left: 234.96px;
top: 2165.68px;

/* default/gray/900 */
background: #1A202C;
/* default/gray/700 */
border: 2px solid #4A5568;
border-radius: 30px;


/* Dark Screen */

position: absolute;
width: 386.21px;
height: 261.58px;
left: 237.35px;
top: 2168.16px;

/* default/shade/black */
background: #000000;
border-radius: 30px;


/* Screen Wrap */

position: absolute;
width: 368.96px;
height: 237.8px;
left: 245.02px;
top: 2181.04px;



/* Screen */

position: absolute;
width: 368.96px;
height: 237.8px;
left: 245.02px;
top: 2181.04px;

background: url(.png);
border-radius: 30px;


/* Macbook Pro */

position: absolute;
width: 36.42px;
height: 5.94px;
left: 411.29px;
top: 2430.24px;

font-family: 'SF Compact Display';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 90%;
/* or 12px */
text-align: center;

/* default/gray/500 */
color: #A0AEC0;



/* Bottom */

position: absolute;
width: 483px;
height: 14.86px;
left: 188px;
top: 2438.16px;



/* Base */

position: absolute;
width: 483px;
height: 8.92px;
left: 188px;
top: 2438.16px;

background: linear-gradient(90deg, #0D1012 0%, #CAD4DB 2.95%, #242729 6.25%, #A3ACB1 13.36%, #A3ACB1 86.6%, #242729 94.19%, #CAD4DB 97.13%, #0D1012 99.64%), #A3ACB1;
border-radius: 30px;


/* Bottom Curve */

position: absolute;
width: 483px;
height: 5.94px;
left: 188px;
top: 2447.08px;

background: linear-gradient(180deg, #7A7F83 0%, #0B0B0E 100%), #647279;
border-radius: 30px;


/* Groove */

position: absolute;
width: 79.99px;
height: 6.94px;
left: 389.74px;
top: 2438.16px;

background: linear-gradient(90deg, #3C3C3C 9.86%, rgba(60, 60, 60, 0) 35.92%, rgba(60, 60, 60, 0) 64.08%, #444444 91.93%), #96A1A8;
border-radius: 30px;


/* Vector */

position: absolute;
left: 44.24%;
right: 54.17%;
top: 54%;
bottom: 44.74%;

border: 2px solid #FFFFFF;
border-radius: 30px;


/* Group */

position: absolute;
left: 43.82%;
right: 54.79%;
top: 42.26%;
bottom: 56.95%;



/* Vector */

position: absolute;
left: 43.82%;
right: 54.79%;
top: 42.26%;
bottom: 56.95%;

/* Gray 6 */
border: 4px solid #F2F2F2;


/* Group 7 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;



/* Group 4 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;



/* Rectangle 10 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;

/* box light purp */
background: #8072E0;
border-radius: 30px;


/* Rectangle 19 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;

background: #81A4FF;
border-radius: 30px;


/* Recipes */

position: absolute;
width: 351px;
height: 92.17px;
left: 783px;
top: 2001px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 6 */
color: #F2F2F2;



/* Group 12 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;



/* Group 4 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;



/* Rectangle 10 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;

/* box light purp */
background: #8072E0;
border-radius: 30px;


/* Rectangle 19 */

position: absolute;
width: 544px;
height: 622px;
left: 733px;
top: 1969px;

background: #81A4FF;
border-radius: 30px;


/* Recipes App */

position: absolute;
width: 351px;
height: 92.17px;
left: 783px;
top: 2001px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 6 */
color: #F2F2F2;



/* Group */

position: absolute;
left: 83.89%;
right: 14.72%;
top: 42.26%;
bottom: 56.95%;



/* Vector */

position: absolute;
left: 83.89%;
right: 14.72%;
top: 42.26%;
bottom: 56.95%;

/* Gray 6 */
border: 4px solid #F2F2F2;


/* Group 8 */

position: absolute;
width: 1123px;
height: 196px;
left: 157px;
top: 2621px;



/* Group 4 */

position: absolute;
width: 1123px;
height: 196px;
left: 157px;
top: 2621px;



/* Rectangle 10 */

position: absolute;
width: 1123px;
height: 196px;
left: 157px;
top: 2621px;

/* box light purp */
background: #8072E0;
border-radius: 30px;


/* Rectangle 19 */

position: absolute;
width: 1123px;
height: 196px;
left: 157px;
top: 2621px;

background: #8072E0;
border-radius: 30px;


/* Camera angle 02 2 */

position: absolute;
width: 484px;
height: 526px;
left: 775px;
top: 2606px;

background: url(Camera angle 02.png);


/* Coming Soon */

position: absolute;
width: 724.58px;
height: 29.04px;
left: 207.13px;
top: 2680.24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Gray 6 */
color: #F2F2F2;



/* Design all the screens through which a user will move, and to create the visual elements, and their interactive properties that facilitate this movement. */

position: absolute;
width: 234px;
height: 188px;
left: 221px;
top: 1344px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

/* Gray 3 */
color: #828282;



/* Produce interesting content in online media. in the form of articles, blogs, posts on social media, or anything based online. */

position: absolute;
width: 238px;
height: 188px;
left: 607px;
top: 1344px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

/* Gray 3 */
color: #828282;



/* Create products that provide meaningful and relevant experiences to users. */

position: absolute;
width: 238px;
height: 188px;
left: 983px;
top: 1344px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

/* Gray 3 */
color: #828282;



/* Project | Mobile Design */

position: absolute;
width: 350px;
height: 26.71px;
left: 784px;
top: 2066px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* Gray 6 */
color: #F2F2F2;



/* Ellipse 85 */

position: absolute;
width: 346px;
height: 344px;
left: 825px;
top: 2108px;

background: rgba(255, 255, 255, 0.38);


/* Group 9 */

position: absolute;
width: 193.54px;
height: 349.56px;
left: 874px;
top: 2199.19px;

transform: rotate(-9.57deg);


/* shadow */

position: absolute;
width: 193.54px;
height: 349.56px;
left: 874px;
top: 2199.19px;

background: url(.png);
opacity: 0.7;
transform: rotate(-9.57deg);


/* main */

position: absolute;
width: 148.34px;
height: 346.1px;
left: 882px;
top: 2197.84px;

background: url(.png);
transform: rotate(-9.57deg);


/* iPhone 8 Space Gray Side View Mockup label */

position: absolute;
width: 129.8px;
height: 266.92px;
left: 900.32px;
top: 2233.3px;

background: url(.png);
mix-blend-mode: normal;
transform: rotate(-9.57deg);


/* Group 10 */

position: absolute;
width: 311px;
height: 497.39px;
left: 1049px;
top: 2073px;



/* shadow */

position: absolute;
width: 237.83px;
height: 466.2px;
left: 1125.14px;
top: 2073px;

background: url(.png);
opacity: 0.7;
transform: matrix(0.99, 0.16, -0.16, 0.99, 0, 0);


/* main */

position: absolute;
width: 190.49px;
height: 459.55px;
left: 1125.14px;
top: 2073px;

background: url(.png);
transform: matrix(0.99, 0.16, -0.16, 0.99, 0, 0);


/* iPhone 8 Space Gray Mockup label */

position: absolute;
width: 166.82px;
height: 356.57px;
left: 1119.23px;
top: 2122.52px;

background: url(.png);
mix-blend-mode: normal;
transform: matrix(0.99, 0.16, -0.16, 0.99, 0, 0);


/* Vectary texture */

position: absolute;
visibility: hidden;
width: 416px;
height: 311px;
left: 509px;
top: 989px;

background: url(.png);


/* Contact Main */

position: absolute;
width: 928px;
height: 1095px;
left: 256px;
top: 3077px;



/* Rectangle 62 */

position: absolute;
width: 928px;
height: 1095px;
left: 256px;
top: 3077px;

background: #FFFFFF;
box-shadow: 0px 4px 250px -80px rgba(0, 0, 0, 0.25);
border-radius: 80px;


/* Vectary texture */

position: absolute;
width: 893.97px;
height: 435.29px;
left: 876px;
top: 2858px;

background: url(.png), url(.png), url(.png);
transform: rotate(47.51deg);


/* Vectary texture */

position: absolute;
width: 433px;
height: 282px;
left: 741px;
top: 2936px;

background: url(.png);


/* Contact Me */

position: absolute;
width: 147px;
height: 35px;
left: 320px;
top: 3162px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;

/* box dark purp */
color: #5F49BF;



/* Let’s Get in Touch. */

position: absolute;
width: 443px;
height: 73px;
left: 320px;
top: 3200px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 103%;
/* or 66px */

/* Gray 1 */
color: #333333;



/* Feel free to reach out for collaborations or just a friendly hello! */

position: absolute;
width: 423px;
height: 109px;
left: 320px;
top: 3369px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

/* Gray 3 */
color: #828282;



/* Contact 5 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3552px;



/* Ellipse 15 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3552px;

/* Purple Light */
background: #F6EAFF;


/* Vector */

position: absolute;
width: 17.5px;
height: 17.5px;
left: 328.75px;
top: 3560.75px;



/* Vector */

position: absolute;
left: -5%;
right: 0%;
top: 15%;
bottom: 15%;

/* Purple dark */
background: #5F49BF;


/* Contact 6 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3609px;



/* Ellipse 15 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3609px;

/* Purple Light */
background: #F6EAFF;


/* Vector */

position: absolute;
width: 17.5px;
height: 17.5px;
left: 328.75px;
top: 3617.75px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Purple dark */
background: #5F49BF;


/* Contact 4 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3495px;



/* Ellipse 15 */

position: absolute;
width: 35px;
height: 35px;
left: 320px;
top: 3495px;

/* Purple Light */
background: #F6EAFF;


/* Vector */

position: absolute;
width: 19.83px;
height: 15.17px;
left: 327.58px;
top: 3504.92px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Purple dark */
background: #5F49BF;


/* ameliaqatrunnada@gmail.com */

position: absolute;
width: 283px;
height: 22px;
left: 369px;
top: 3499px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* Gray 2 */
color: #4F4F4F;



/* behance.com/ameliaq */

position: absolute;
width: 186px;
height: 24px;
left: 369px;
top: 3557px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* Gray 2 */
color: #4F4F4F;



/* instagram.com/ameliaqatr */

position: absolute;
width: 220px;
height: 24px;
left: 369px;
top: 3615px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* Gray 2 */
color: #4F4F4F;



/* Rectangle 63 */

position: absolute;
width: 368px;
height: 63px;
left: 743px;
top: 3587px;

/* Gray 6 */
background: #F2F2F2;
border-radius: 10px;


/* Rectangle 64 */

position: absolute;
width: 368px;
height: 63px;
left: 743px;
top: 3665px;

/* Gray 6 */
background: #F2F2F2;
border-radius: 10px;


/* Rectangle 65 */

position: absolute;
width: 368px;
height: 239px;
left: 743px;
top: 3743px;

/* Gray 6 */
background: #F2F2F2;
border-radius: 10px;


/* Name */

position: absolute;
width: 108px;
height: 23px;
left: 769px;
top: 3610px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* Gray 3 */
color: #828282;



/* Email */

position: absolute;
width: 108px;
height: 23px;
left: 769px;
top: 3685px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* Gray 3 */
color: #828282;



/* Message */

position: absolute;
width: 108px;
height: 23px;
left: 769px;
top: 3763px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* Gray 3 */
color: #828282;



/* Hire me */

position: absolute;
width: 180px;
height: 60px;
left: 743px;
top: 4014px;



/* Rectangle 3 */

position: absolute;
width: 180px;
height: 60px;
left: 743px;
top: 4014px;

/* Purple dark */
background: #5F49BF;
border-radius: 40px;


/* Let’s talk! */

position: absolute;
width: 142px;
height: 27px;
left: 761px;
top: 4030px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

/* Gray 6 */
color: #F2F2F2;



/* Copyright Porto. All rights Reserved */

position: absolute;
width: 294px;
height: 31px;
left: 225px;
top: 4667px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* Purple dark */
color: #5F49BF;



/* Great things happen to those who don't stop believing, trying, learning, and being grateful. */

position: absolute;
width: 755px;
height: 298px;
left: 225px;
top: 4295px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Purple dark */
color: #5F49BF;



/* Up */

position: absolute;
width: 100px;
height: 100px;
left: 1180px;
top: 4267px;



/* Ellipse 86 */

position: absolute;
width: 100px;
height: 100px;
left: 1180px;
top: 4267px;

background: #FFFFFF;
box-shadow: 0px 4px 250px 35px rgba(0, 0, 0, 0.25);


/* Vector */

position: absolute;
width: 45px;
height: 26px;
left: 1208px;
top: 4303px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Purple dark */
border: 7px solid #5F49BF;
